{% extends "base.html" %}
{% block title %} Play Quiz {% endblock %}
{% block content %}

<h1>Play {{quiz.name}}</h1>
<img src="{{quiz.picture.url}}" alt="">
<div class="row">
    <form class="col s12" action="{% url 'play_quiz_post' quiz.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {% for question in questions %}
                <label>{{question.question}}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="1" name="option1">{{question.option1}}</label>
                <input type="radio" name="guess{{ forloop.counter0 }}" id="1" value="{{question.option1}}"
                    class="radio-button" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="2" name="option2">{{question.option2}}</label>
                <input type="radio" name="guess{{ forloop.counter0 }}" id="2" value="{{question.option2}}"
                    class="radio-button" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="3" name="option3">{{question.option3}}</label>
                <input type="radio" name="guess{{ forloop.counter0 }}" id="3" value="{{question.option3}}"
                    class="radio-button" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="4" name="option4">{{question.option4}}</label>
                <input type="radio" name="guess{{ forloop.counter0 }}" id="4" value="{{question.option4}}"
                class="radio-button" required>
            </div>
        </div>
        <input type="hidden" value="{{question.answer}}" name="answers">
        <br>
        <br>
        <input type="submit" value="submit" class="btn">
        {% endfor %}
    </form>
</div>
</div>
{% endblock %}