{% extends "base.html" %}
{% block title %} Quiz Stats {% endblock %}
{% block content %} 

<h1>Quiz Stats</h1>
{% for x in qanda %}
<div class="card">
    <div class="card-content row">
        <div class="col m10">
            <span class="card-title">Question: {{x.question}}</span>
            <p>Correct Answer: {{x.correctanswer}}</p>
            <p>Given Answer: {{x.givenanswer}}</p>
            {% if x.isCorrect %}
            <p>Congratulations! You guessed the correct answer!</p>
            {% else %}
            <p>You did not guess the correct answer!</p>
            {% endif %}
            <p>Total Score: {{score.score}}/{{total}}</p>
        </div>
{% endfor %}

{% endblock %}
