{% extends "base.html" %}
{% block title %} {{thisuser.username}} {% endblock %}
{% block content %}


<div class="card profile">
    <div class="card-content row">
        <div class="col m4">
            <div class="profile-image">
                <img class="image" src="{{thisuser.userextras.profilePic.url}}" alt="profilePic" >
            </div>
            <div class="text-center">
                {% if thisuser.id == user.id %}
                    <a href="{% url 'profile_edit' %}" class="btn btn-info">Edit Profile</a>
                {% endif %}
            </div>
        </div>
        <div class="col m8">
            <p>Username: {{thisuser.username}}</p>
            <hr>
            <p>Name: {{thisuser.first_name}} {{thisuser.last_name}}</p>
            <hr>
            <p>{{thisuser.first_name}} Played Quizes:
                {% for quiz in quizes %}
            <ul class="ml-5">
                <li><a href="{% url 'view_score' quiz.id thisuser.id %}">{{quiz.name}}</a></li>
            </ul>
            {% endfor %}
            </p>
            <hr>
            <p>Quizes {{thisuser.first_name}} Has Made:
                {% for createdquiz in createdquizes %}
            <ul class="ml-5">
                <li>
                    <a href="{% url 'play_quiz' createdquiz.id %}">Play: {{createdquiz.name}}</a>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class="card-action">
        
    </div>
</div>
<br>
{% endblock %}