{% extends "base.html" %}
{% block title %} Topics {% endblock %}
{% block content %} 

<h1>View All Topics</h1>
<h5>Head over to "CREATE QUIZ" to make a quiz based on one of these topics!</h5>
<hr>
<div class='card'>
  {% for topic in topic_list %}
    <div class="card-content">
        <span class="card-title">{{topic.name}}</span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_topic' topic.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Unfollow Topic</button>
        </form>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_topic' topic.id %}" method="POST">
          {% csrf_token %}
          
          <button type="submit" class="btn">Follow Topic</button>
      </form>
    </div>
    {% endfor %}
  </div>
    

 {% endblock %}