
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>


<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav_wrapper">
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' user.id%}" class="left brand-logo"><img src="{{user.userextras.profilePic.url}}" alt="Profile Picture"></a>
                    </li>
                    {% endif %}
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="center brand-logo">Quizle</a>
                    </li>
                </ul>
                <ul class="right registers">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{%url 'logout'%}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{%url 'login'%}">Login</a>
                    </li>
                    <li>
                        <a href="{%url 'signup'%}">Signup</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>
    {% if user.is_authenticated %}
    <header class="navbar-fixed">
        <nav>
            <div class="nav_wrapper">
                <ul class="nav-custom-ul">
                    <li>
                        <a href="{% url 'topics' %}" class="left brand-logo">Topics</a>
                    </li>
                    <li class="center brand-logo search-wrap">
                        <form class="search-bar" method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched" autocomplete="off">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'create_quiz' %}" class="right brand-logo">Create Quiz</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endif %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="page-footer">
        <div class="right">Quizle Inc</div>
    </footer>

</body>

</html>