{% extends "base.html" %}
{% block content %} 
<div class="search-result">
	{% if searched %}
		<h1>You Searched For &quot;{{ searched }}&quot;</h1>
		<br/>
		<div class="row">
		       {% for quiz in results %}
		        <div class="col m4">
					
			        <div class="card">
						<div class="card-header">
						Results: 
						</div>
						<div class="card-body">
							<a class="card-title" href="{% url 'play_quiz' quiz.id %}">&#10513; {{ quiz.name }}</a>

							{% comment %} {% if 'True' == 'True' %}
							True
							{% endif %} {% endcomment %}

							    {{quiz.search_found}}

							{% if quiz.search_found %}

							    <li><a class="card-title" href="{% url 'profile' quiz.creater.id %}">&#10513; {{ quiz.creator }}</a></li>
							{% endif %} 
						</div>
					</div>
				</div>




				    {% endfor %}
				</div>


					{% else %}
						<h1>Hey! You Forgot To Search...</h1>
					{% endif %}
</div>
	
{% endblock %}