body{
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;
}

header nav {
    background-color: rgb(173, 205, 233);
    padding: 1em 0;
    width: 100%;
    font-family: 'Lucida Console', monospace;
    box-shadow: none;
}

footer div{
    background-color: rgb(173, 205, 233);
    padding: 1em 0;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Console', monospace;
}

main{
    flex: 1 0 auto;
}

footer.page-footer{
    padding-top: 0;
    text-align: right;
}

img{
    width: 60px;
    height: 60px;
}


.radio-button{
    opacity: 100% !important;
    pointer-events: all !important;
}

.search-bar{
    display: flex !important;
    justify-content: space-evenly !important;
    width: 100% !important;
}